
<template>
  <div v-motion-pop-bottom v-for="item in product" :key="item.id" class="style"  @click="$router.push({ path:`products/${item.id}` })" >
    <a-card hoverable style="width: 340px; height: 100%">
  <template #cover>
    <img alt="example" :src="item.image" style="max-width: 100px; margin: auto; padding: 4px;" />
  </template>
  <a-card-meta :title="item.title">
    <template #description>{{ item.title }} </template>
  </a-card-meta>
</a-card>
  </div>
  
  
</template>

<script setup>
  const {product} = defineProps(['product'])
</script>

<style lang="scss" scoped>
.style{
  width: 100%;
  height: 100%;
}
</style>