<!-- components/TeleportExample.vue -->

<template>
    <div>
      <h2>Teleport Example</h2>
  
      <button @click="toggleModal">Toggle Modal</button>
  
      <!-- Teleport the modal to the end of the body -->
      <Teleport>="body">
        <div v-if="showModal" class="modal">
          <p>This modal is Teleport> to the end of the body.</p>
          <button @click="toggleModal">Close Modal</button>
        </div>
      </Teleport>    </div>
  </template>
  
  <script >
  export default {
    data() {
      return {
        showModal: false,
      };
    },
    methods: {
      toggleModal() {
        this.showModal = !this.showModal;
      },
    },
  };
  </script>
  
  <style scoped>
  /* Add some basic styling for the modal */
  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 9999;
  }
  </style>
  