<template>
    <div class="container">
        <div>
            <img alt="image" :src="data.image" style="height: 662px;"/>
        </div>
        <div class="text">
            <h2>{{ data.title }}</h2>
            <p>{{ data.description }}</p>
            <p>{{ data.price }}</p>
        </div>
    </div>
</template>

<script setup>
definePageMeta({
    pageTransition: {
    name: 'slide-right',
    mode: 'out-in'
  },
})
    const {id} = useRoute().params

    const { data, pending, error, refresh } = await useAsyncData(
  'mountains',
  () => $fetch(`https://fakestoreapi.com/products/${id}`)
)
console.log(data+'ff');
    console.log(id)
</script>

<style lang="scss" scoped>
.container{
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.text{
    margin: auto;
    position: relative;
    justify-content: center;
    align-items: center;
    font-weight: 400;
}
</style>