<template>
    <div class="style">
          <ProductCard :product="productData"/>
    </div>
</template>

<script setup>

import useProductData from '~/composables/productData';
const {productData, setProductData} = useProductData()
const { data, pending, error, refresh } = await useAsyncData(
  'mountains',
  () => $fetch('https://fakestoreapi.com/products')
  
)
setProductData(data)

</script>

<style lang="scss" scoped>

.style {
    color: aqua;
    display: grid;
    grid-template-columns: repeat(4, minmax(150px, 1fr));
    gap: 20px; 
}

@media  screen and (max-width: 1500px) {
  .style {
        grid-template-columns: repeat(4, minmax(100px, 1fr));
    }
}
@media screen and (max-width: 1300px) {
  .style {
        grid-template-columns: repeat(3, minmax(100px, 1fr));
    }
}
@media screen and (max-width: 1000px) {
    .style {
        grid-template-columns: repeat(2, minmax(100px, 1fr));
    }
}

@media screen and (max-width: 680px) {
    .style {
        grid-template-columns: repeat(1, minmax(50px, 1fr));
    }
}

</style>