<template>
    <a-layout class="layout">
      <a-layout-header>
        <div class="logo" />
        <a-menu
          v-model:selectedKeys="selectedKeys"
          theme="dark"
          mode="horizontal"
          :style="{ lineHeight: '64px' }"
        >
          <NuxtLink class="menu" key="1" to="/">Home</NuxtLink>
          <NuxtLink class="menu" key="2" to="/about">About</NuxtLink >
          <NuxtLink class="menu" key="3" to="/products">Products</NuxtLink>
        </a-menu>
      </a-layout-header>
      <a-layout-content style="padding: 50px 50px ">
       
        <div :style="{ background: '#fff', padding: '24px', minHeight: '280px' }"><slot/></div>
      </a-layout-content>
      <a-layout-footer style="text-align: center">
        Ant Design ©2018 Created by Ant UED
      </a-layout-footer>
    </a-layout>
  </template>
  <script lang="ts" setup>
  import { ref } from 'vue';
  const selectedKeys = ref<string[]>(['2']);
  </script>
  <style scoped>
  .site-layout-content {
    min-height: 280px;
    padding: 24px;
    background: #fff;
  }
  #components-layout-demo-top .logo {
    float: left;
    width: 120px;
    height: 31px;
    margin: 16px 24px 16px 0;
    background: rgba(255, 255, 255, 0.3);
  }
  .ant-row-rtl #components-layout-demo-top .logo {
    float: right;
    margin: 16px 0 16px 24px;
  }
  .menu{
    color: white;
    font-size: medium;
    padding-inline: 4px;
  }
  [data-theme='dark'] .site-layout-content {
    background: #141414;
  }
  </style>
  