<template>
    <div>
      <p>Click to call: <a @click="handleClick" :href="phoneNumberLink">{{ phoneNumber }}</a></p>
      
      <!-- Input field to dynamically change the phone number -->
      <input v-model="dynamicPhoneNumber" placeholder="Enter new phone number" />
    </div>
  </template>
  
  <script>
  export default {
    data() {
      return {
        dynamicPhoneNumber: "", // Dynamic phone number input
      };
    },
    computed: {
      phoneNumber() {
        // Use dynamicPhoneNumber if available, otherwise use a default value
        return this.dynamicPhoneNumber || "123-456-7890";
      },
      phoneNumberLink() {
        return `tel:${this.phoneNumber}`;
      },
    },
    methods: {
      handleClick() {
        console.log(`Phone number clicked: ${this.phoneNumber}`);
        // Additional actions can be performed here
      },
    },
  };
  </script>
  